/* container */

.no-padding-margin {
	margin: 0;
	padding: 0;
}


/* Flex */

.flex-base {
	display: flex;
}

.flex-row {
	flex-direction: row;

}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-now-rap {
	flex-wrap: nowrap;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}