/* Other */

.no-padding-margin {
	margin: 0;
	padding: 0;
}

.position-fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

.link-no-style {
	text-decoration: none;
	color: inherit;
}

.list-no-style {
	list-style: none;
}

.cross {
	cursor: crosshair;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

/* Images */

.rounded-image {
	border-radius: 8px;
}


/* Border */

.border {
	border: 1px solid black;
}

/* Flex */

.flex-base {
	display: flex;
}

.flex-row {
	flex-direction: row;

}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-now-rap {
	flex-wrap: nowrap;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}